<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=icon href="~/Content/Images/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel=icon href="~/Content/Images/favicon-32x32.png" sizes="32x32" type="image/vnd.microsoft.icon">
    <title>@ViewBag.Title | Careerian Tivi-Ohjaus</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @{ if (Session["UserName"] == null)
        {
            Html.RenderPartial("_NavbarLoggedOut");
        }
        else
        {
            Html.RenderPartial("_NavbarLoggedIn");
        } }

    @RenderBody()


    @{ if (Session["UserName"] == null)
        {
            Html.RenderPartial("_FooterLoggedOut");
        }
        else
        {
            Html.RenderPartial("_FooterLoggedIn");
        } }


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
