

@* Tämä sivu poistetaan varmaan lopullisessa versiossa. Testausmielessä jätetty vielä tähän. *@
@model IEnumerable<Ajanvarausprojekti.Models.Ajat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@* Datepicker html:lla *@
<label for="startDate">Valitse pvm</label>
<input id="startDate" class="form-control" type="date" />


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.alku_aika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aihe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paikka)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>

                @Html.DisplayFor(model => item.alku_aika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aihe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paikka)
            </td>


            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.aika_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.aika_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.aika_id })
            </td>
        </tr>
    }

</table>
