@model IEnumerable<Ajanvarausprojekti.ViewModels.ajatListaData>

@*@section Scripts {
        <script type="text/javascript">
            $(function () {
                $(".valitseAika").click(function () {
                    let aika_id = $(this).data("aikaId");
                    alert("Klikkasit aikaa, jonka aika-id on " + aika_id);
                });
            });
        </script>

    }*@


<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.aika_id)</th>
        <th>@Html.DisplayNameFor(model => model.Alkuaika)</th>
        <th>@Html.DisplayNameFor(model => model.kesto_id)</th>
        <th>@Html.DisplayNameFor(model => model.opettaja_id)</th>
        <th>@Html.DisplayNameFor(model => model.Kesto)</th>
        <th>@Html.DisplayNameFor(model => model.Paikka)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr class="valitseRivi" data-aikaId="@item.aika_id">
            <td>@Html.DisplayFor(modelItem => item.aika_id)</td>
            <td>@Html.DisplayFor(modelItem => item.Alkuaika)</td>
            <td>@Html.DisplayFor(modelItem => item.kesto_id)</td>
            <td>@Html.DisplayFor(modelItem => item.opettaja_id)</td>
            <td>@Html.DisplayFor(modelItem => item.Kesto)</td>
            <td>@Html.DisplayFor(modelItem => item.Paikka)</td>
        </tr>
    }

</table>


