@model IEnumerable<Ajanvarausprojekti.ViewModels.ajatListaData>

@*@section Scripts {
    <script type="text/javascript">
        $(function () {
            $(".valitseAika").click(function () {
                let aika_id = $(this).data("aikaId");
                $('#TeeVaraus').modal('show');
            });
        });
    </script>

}*@


<table class="table table-sm table-hover caption">
    <thead>
        <tr>
            <th scope="col">Opettajan nimi</th>
            <th scope="col">Päivämäärä</th>
            <th scope="col">Kellonaika</th>
            <th scope="col">Aika_id (käytössä vain testailuvaiheessa)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Etunimi @item.Sukunimi</td>
                <td>@item.Alkuaika.Value.ToString("dd.MM")</td>
                <td><button class="valitseAika btn-primary" data-aikaId="@item.aika_id">@item.Alkuaika.Value.ToShortTimeString() - @Convert.ToDateTime(item.Alkuaika).AddMinutes(item.Kesto).ToShortTimeString()</button></td>
                <td>@item.aika_id</td>
            </tr>
        }
    </tbody>

</table>

