@model IEnumerable<Ajanvarausprojekti.ViewModels.ajatListaData>

<table class="table table-sm table-hover caption">
    <thead>
        <tr>
            <th scope="col">Päivämäärä</th>
            <th scope="col">Kellonaika</th>
            <th scope="col">Aika_id (käytössä vain testailuvaiheessa)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Alkuaika.Value.ToString("dd.MM")</td>
                <td><button class="valitseAika btn btn-primary" data-aikaId="@item.aika_id">@item.Alkuaika.Value.ToShortTimeString() - @Convert.ToDateTime(item.Alkuaika).AddMinutes(item.Kesto).ToShortTimeString()</button></td>
                <td>@item.aika_id</td>
            </tr>
        }
    </tbody>
</table>

<div class="modal-footer">

    <!--Nappula, joka avaa varauksen seuraavan vaiheen-->

    <button class="placeholder-glow btn d-grid text-decoration-none btn-outline-primary mt-3" id="AvaaVarausModal" data-bs-toggle="modal"
            data-bs-target="#TeeVarausRuutu" type="submit">
        Jatka varaukseen
    </button>

    @*<a href="/Varaus/TeeVaraus" class="placeholder-glow btn d-grid text-decoration-none btn-outline-primary mt-3">Jatka varaukseen</a>*@

    <!--Peruutusnappula-->
    <button type="button" class="placeholder-glow btn d-grid text-decoration-none btn-outline-primary mt-3" data-bs-dismiss="modal">Takaisin</button>
</div>

@foreach (var item in Model)
{
    <div class="container">
        @*Modal*@
        <div class="modal" id="TeeVarausRuutu">
            <div class="modal-dialog">
                <div class="modal-content">

                    @{Html.RenderAction("TeeVaraus", "Varaus", new { aikaid = @item.aika_id });}

                </div>
            </div>
        </div>

    </div>
}


