@model IEnumerable<Ajanvarausprojekti.Models.Opettajat>


<section class="container mt-5 mb-5 pb-5" id="ohjausaika">
    <div class="d-flex justify-content-between">
        <h2 class="display-6 fw-bolder">Ohjausajan varaus</h2>
        @* Poista varaus nappula *@
        <button class="btn btn-primary" id="varausmodal" data-bs-toggle="modal" data-bs-target="#VarausRuutu">Poista varauksesi</button>
    </div>
    <p class="lead">Kenelle tivi-opettajalle haluat varata ajan?</p>

    <!--Opettajien kuvakortti-->
    <div class="d-flex flex-column justify-content-center align-items-center">
        <!--Progress bar-->
        @*<div class="position-relative align-self-center mx-4 mx-md-5 mb-1 mt-5 w-50">
            <div class="progress" style="height: 1px; background-color: var(--primary-color);">
                <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="3"></div>
            </div>
            <button class="placeholder-glow top-0 start-0 p-0 m-0 translate-middle btn btn-sm btn-primary rounded-pill d-flex justify-content-center align-items-center" style="width: 3.4rem; height: 3.4rem;" aria-label="Vaihe 1/3">
            </button>
            <button class="placeholder-glow position-absolute top-0 start-50 translate-middle btn btn-sm btn-outline-primary bg-white rounded-pill d-flex justify-content-center align-items-center" aria-label="Vaihe 2/3" style="width: 3.4rem; height: 3.4rem;">
            </button>
            <button class="placeholder-glow position-absolute top-0 start-100 translate-middle btn btn-sm btn-outline-primary bg-white rounded-pill d-flex justify-content-center align-items-center" aria-label="Vaihe 3/3" style="width: 3.4rem; height: 3.4rem;">
            </button>
        </div>*@
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card bg-black text-white d-flex justify-content-center text-center pt-3 h-100">
                    <!--h-100 pitää olla tai muuten kortit menee erikokoisiksi mikäli nimet pitkiä-->
                    <img src="@item.kuva" class="round-img" alt="@item.etunimi @item.sukunimi" /> <!--Alt-tekstiin lisätty etunimi ja sukunimi jotta alt-teksti olisi aina yksilöllinen-->
                    <div class="card-body">
                        <h3 class="card-title fw-light placeholder-glow fs-5">@item.etunimi @item.sukunimi</h3>

                        <!--Nappula, joka avaa vapaiden aikojen modaali-ikkunan-->
                        <button type="button" class="btn btn-primary placeholder-glow" data-id="#vapaatAjatModal_@item.etunimi @item.sukunimi" data-bs-toggle="modal"
                                data-bs-target="#AjatRuutu_@item.opettaja_id">
                            Varaa aika
                        </button>

                    </div>
                </div>
            </div>

        }

        @foreach (var item in Model)
        {
            <div class="container">

                @*Modal*@
                <div class="modal fade" id="AjatRuutu_@item.opettaja_id">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="d-flex justify-content-end align-items-end pe-2 pt-2">
                                <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-header border-0 d-flex flex-column justify-content-center align-items-center text-center py-0 my-0">
                                <p class="modal-title"><img src="~/Content/Images/careerian-tiviohjaus-logo.png" class="d-flex justify-content-center align-items-center w-75 h-auto mb-1" alt="@ViewBag.SivustonNimi Logo" aria-label="@ViewBag.SivustonNimi"></p>
                            </div>

                            @{Html.RenderAction("_VapaatAjatOpiskelijalle", "Ajat", new { opeid = @item.opettaja_id });}

                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</section>

