@model IEnumerable<Ajanvarausprojekti.Models.Opettajat>


@{
    ViewBag.Title = "Opekortit";
}


    <section class="container mt-5 mb-5 pb-5" id="ohjausaika">
        <h2 class="display-6 fw-bolder">Ohjausajan varaus</h2>
        <p class="lead">Kenelle tivi-opettajalle haluat varata ajan?</p>

        <div id="accordion">

            <!--Opettajien kuvakortti-->

            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">

                @foreach (var item in Model)
                {
                    <div class="col">
                        <div class="card bg-black text-white d-flex justify-content-center text-center pt-3">
                            <img src="@Html.DisplayFor(modelItem => item.kuva)" class="round-img" />
                            <div class="card-body">
                                <h5 class="card-title fw-light placeholder-glow">@Html.DisplayFor(modelItem => item.etunimi) @Html.DisplayFor(modlelItem => item.sukunimi)</h5>

                                @*<a href="@Url.Action("_VapaatAjat", "_VapaatAjat", new { klikattuId = @item.opettaja_id })"
        class="btn btn-primary placeholder-glow" data-bs-toggle="collapse" data-bs-target="#OpettajanAjat" aria-expanded="false" aria-controls="collapseExample">Varaa aika</a>*@

                                @Html.ActionLink("Varaa aika", "_VapaatAjat", "_VapaatAjat", new { klikattuId = @item.opettaja_id },
                               new { @class = "btn btn-primary placeholder-glow"/*, data_bs_toggle = "collapse", data_bs_target = "#collapse_@item.opettaja_id", aria_expanded = "false", aria_controls = "collapseExample"*/ })

                            <a class="btn" data-bs-toggle="collapse" href="#collapse_@item.opettaja_id">
                                <p>Lataa opettajan @Html.DisplayFor(modelItem => item.etunimi) @Html.DisplayFor(modlelItem => item.sukunimi) vapaat ajat</p>
                            </a>

                            </div>
                        </div>
                    </div>
                }


                <!--collapse/opettajan varattavissa olevat ajat-->

                                    @{Html.RenderAction("_VapaatAjat", "Ope");}

                </div>
        </div><!--id accordion end tag-->
    </section>
