@model IEnumerable<Ajanvarausprojekti.Models.Opettajat>


<section class="container mt-5 mb-5 pb-5" id="ohjausaika">
    <div class="d-flex justify-content-between">
        <h2 class="display-6 fw-bolder">Ohjausajan varaus</h2>
        @* Poista varaus nappula *@
        <a class="btn btn-primary ms-md-3 h-100" id="varausmodal" data-bs-toggle="modal" data-bs-target="#VarausRuutu">Poista varauksesi</a>
    </div>
    <p class="lead">Kenelle tivi-opettajalle haluat varata ajan?</p>

    <!--Opettajien kuvakortti-->

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">

        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card bg-black text-white d-flex justify-content-center text-center pt-3 h-100"> <!--h-100 pitää olla tai muuten kortit menee erikokoisiksi mikäli nimet pitkiä-->
                    <img src="@item.kuva" class="round-img" alt="@item.etunimi @item.sukunimi" /> <!--Alt-tekstiin lisätty etunimi ja sukunimi jotta alt-teksti olisi aina yksilöllinen-->
                    <div class="card-body">
                        <h3 class="card-title fw-light placeholder-glow fs-5">@item.etunimi @item.sukunimi</h3>

                        <!--Nappula, joka avaa vapaiden aikojen modaali-ikkunan-->
                        <button type="button" class="btn btn-primary placeholder-glow" id="vapaatAjatModal" data-bs-toggle="modal"
                                data-bs-target="#AjatRuutu_@item.opettaja_id">Varaa aika
                        </button>

                    </div>
                </div>
            </div>

        }

        @foreach (var item in Model)
        {
            <div class="container">

                @*Modal*@
                <div class="modal fade" id="AjatRuutu_@item.opettaja_id">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header"><h2 class="placeholder-glow">Valitse varattava aika</h2></div>

                            @{Html.RenderAction("_VapaatAjat", "Ope", new { opeid = @item.opettaja_id });}

                            <div class="modal-footer">

                                <a href="/Varaus/TeeVaraus" class="placeholder-glow btn d-grid text-decoration-none btn-outline-primary mt-3" type="submit">Valitse ja jatka</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</section>

