@model Ajanvarausprojekti.Models.Varaukset

@* Tätä ehkä käytän myöhemmin *@
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.varaus_id }) |
   
</p>*@


<!-- Modal -->
<div class="modal fade" id="ModalOrderEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col mt-1 ms-2 me-0 pe-0 pb-5">
                        <div class="d-flex justify-content-end align-items-end">
                            <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close" onclick="window.location.reload()"></button>
                        </div>
                        <div class="modal-header border-0 d-flex flex-column justify-content-center align-items-center text-center">
                            <p class="modal-title"><img src="~/Content/Images/careerian-tiviohjaus-logo.png" class="d-flex justify-content-center align-items-center w-75 h-auto mb-1" alt="Careerian Tivi-ohjaus Logo" aria-label="Careerian Tivi-Ohjaus"><span class="fw-light pt-3 fs-6 text-uppercase">Opettajille</span></p>
                        </div>

                        <div class="modal-body mt-1">
                            <h2 class="fs-6 mb-1 fw-light pb-0">Tulevat ohjausajat | Tarkastele varausta</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="d-flex flex-column bg-light px-5 py-4 h-100 rounded-3">
                                        <h3 class="fs-4">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
                                                <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
                                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                                            </svg> Pvm.
                                            @Html.TextBoxFor(model => model.Ajat.alku_aika, "{0:dd.MM.yyyy}", new { @class = "border-0 fs-4 outline-0 bg-light w-50", @readonly = true })
                                        </h3>
                                        <h3 class="fs-4">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                                            </svg> Klo.
                                            @Html.TextBoxFor(model => model.Ajat.alku_aika, "{0:HH:mm}", new { @class = "border-0 fs-4 outline-0 bg-light w-50", @readonly = true })
                                        </h3>
                                        <dl class="mb-0 pb-0 pt-2">
                                            <dd>
                                                <a href="@Html.DisplayFor(model => model.Ajat.paikka)" class="btn btn-primary">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.2em" fill="currentColor" class="bi bi-people text-center me-1 mb-1" viewBox="0 0 16 16">
                                                        <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" />
                                                    </svg>
                                                    Liity Teams-kokoukseen
                                                </a>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                                    <div class="col-md-6">
                                        <img src="~/Content/Images/work.jpg" alt="Alternate Text" class="img-fluid rounded-3" />
                                    </div>
                            </div>

                                <div class="col-12 bg-light rounded-3 mt-3">
                                    <h4 class="d-flex flex-column px-3 pb-0 pt-3">Varauksen tiedot</h4>
                                    @*<h4>Varaus @Html.DisplayFor(model => model.Ajat.alku_aika) <a href="@Html.DisplayFor(model => model.Ajat.paikka)" class="btn btn-primary ms-3 mt-3">Linkki Teams-kokoukseen</a></h4>*@
                                    <dl class="row p-3">
                                        <dt>
                                            Varaaja
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.varaaja_sahkoposti)
                                        </dd>

                                        <dt>
                                            Alkuaika
                                        </dt>

                                        <dd>
                                            @Html.TextBoxFor(model => model.Ajat.alku_aika, "{0:dd.MM.yyyy HH:mm}", new { @class = "border-0 outline-0 bg-light w-50", @readonly = true })
                                        </dd>

                                        <dt>
                                            Kesto
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Ajat.kesto_id)
                                        </dd>

                                        <dt>
                                            Aihe
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.aihe)
                                        </dd>
                                        @*<dt>
                Paikka/Paikkalinkki
            </dt>

            <dd>
                <a href="@Html.DisplayFor(model => model.Ajat.paikka)" class="link-primary">Linkki Teams-kokoukseen</a>

            </dd>*@

                                        <dt>
                                            Varattu pvm
                                        </dt>

                                        <dd>
                                            @Html.TextBoxFor(model => model.varattu_pvm, "{0:dd.MM.yyyy HH:mm}", new { @class = "border-0 outline-0 bg-light w-50", @readonly = true })
                                            @*@Html.DisplayFor(model => model.varattu_pvm)*@
                                        </dd>

                                        <dt>
                                            Varauksen peruutukseen tarvittava salasana
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.id_hash)
                                        </dd>
                                    </dl>
                                </div>

                        </div>
                    </div>
                    @* Kuva *@
                    @*<div class="col-5 d-none d-sm-block pe-0">
                        <img src="~/Content/Images/tools.png" class="img-fluid h-100 w-auto" alt="Alternate Text" />
                    </div>*@
                </div>
            </div>

        </div>
    </div>
</div>