@model IEnumerable<Ajanvarausprojekti.ViewModels.ajatListaData>


@{
    ViewBag.Title = "Onnistunut varaus";
}

<h2>Varauksen teko onnistui</h2>

<div>
    <h4>Varaustietosi</h4>
    <hr />
    <h5>Saat pian antamaasi sähköpostiosoitteeseen myös tämän varausvahvistuksen. <br />Jos et ole antanut sähköpostiosoitetta laitathan seuraavat tiedot talteen.</h5>
    <dl class="dl-horizontal">

        @foreach (var item in Model)
            {
        <dt>
            Varattu aikasi
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => item.Alkuaika)

            @*@Html.DisplayFor(modelItem => item.Alkuaika)*@
            @*@TempData["aika"]*@

        </dd>
        <dt>
            Tapaamisen kesto
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.Kesto)
            @*@TempData["kesto"]*@
        </dd>
        <dt>
            Ilmoittamasi varaaja
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.Varaaja)
        </dd>

        <dt>
            Voit tarvittaessa perua varauksen alla olevalla peruutuskoodilla. Jos olet antanut toimivan sähköpostiosoitteen, saat pian antamaasi sähköpostiosoitteeseen myös tämän varausvahvistuksen.
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.id_hash)
        </dd>

        <dt>
            Ilmoittamasi aihe
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.Aihe)
        </dd>

        <dt>
            Teams-linkki tapaamiseen
        </dt>

        <dd>
            <a href=" @Html.DisplayNameFor(model => model.Paikka)">Suora linkki Teams-kokoukseen</a>
            <p> @Html.DisplayNameFor(model => model.Paikka)</p>
        </dd>

        <!---->@*@Html.DisplayFor(model => model.Ajat.paikka)*@
        }
    </dl>
</div>
<p>
    <a href="/Home/Index">Takaisin etusivulle</a>
</p>




@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.aika_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alkuaika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kesto_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.opettaja_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aihe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paikka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.varaus_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Varaaja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Varauspvm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_hash)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.aika_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alkuaika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kesto_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.opettaja_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aihe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paikka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.varaus_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Varaaja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Varauspvm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_hash)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>*@
