@model Ajanvarausprojekti.Models.Kayttajatunnukset

<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="LoginRuutu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col mt-1 ms-2 me-0 pe-0 pb-5">
                            <div class="d-flex justify-content-end align-items-end">
                                <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Sulje ikkuna"></button>
                            </div>
                            <div class="modal-header border-0 d-flex flex-column justify-content-center align-items-center text-center">
                                <p class="modal-title" ><img src="~/Content/Images/careerian-tiviohjaus-logo.png" class="d-flex justify-content-center align-items-center w-75 h-auto" alt="@ViewBag.SivustonNimi Logo" aria-label="@ViewBag.SivustonNimi"><span class="fw-light pt-3 fs-6 text-uppercase">Opettajille</span></p>
                            </div>

                            <div class="modal-body mt-3">
                                @using (Html.BeginForm("Authorize", "Login", FormMethod.Post, new { id = "loginForm" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        <h4>Kirjaudu sisään</h4>

                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.kayttajatunnus_id)

                                    <div class="form-group">
                                        <label for="kayttajatunnus" class="control-label col-md-2">Käyttäjätunnus</label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.kayttajatunnus, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.kayttajatunnus, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group mt-2">
                                        <label for="salasana" class="control-label col-md-2">Salasana</label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.salasana, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.salasana, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                        <p class="text-danger">
                                            @Html.DisplayFor(model => model.LoginErrorMessage)
                                        </p>
                                    </div>
                                }

                                <button type="submit" form="loginForm" class="btn btn-primary">Kirjaudu sisään</button>
                               
                            </div>
                        </div>
                        <div class="col-5 d-none d-sm-block pe-0">
                            <img src="~/Content/Images/tools.png" class="img-fluid h-100 w-auto" alt="Alternate Text" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>