@model IEnumerable<Ajanvarausprojekti.Models.Palautteet>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.palaute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.palaute_pvm)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Opettajat.sahkoposti)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Palautetyypit.palautetyyppi)
        </th>*@
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.palaute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.palaute_pvm)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Opettajat.sahkoposti)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Palautetyypit.palautetyyppi)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.palaute_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.palaute_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.palaute_id })
        </td>*@
    </tr>
}

</table>
