@model IEnumerable<Ajanvarausprojekti.ViewModels.palauteListaData>

@{
    ViewBag.Title = "Palautelistaus";
}
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $(".getPalauteModal").click(function () {
                let palaute_id = $(this).data("palauteid");
                console.log("Klikkasit palautetta: " + palaute_id);
                var url = "/Palaute/_Details/?id=" + palaute_id;
                console.log(url);

                $("#Modaltesti").append(" <b>Avataan palautteen " + palaute_id + "tietoja...</b>");

                var $detailDivDetails = $("#Modaltesti");
                $.get(url, function (data) {
                    $detailDivDetails.replaceWith(data);
                    $("#palauteModaltesti").modal("show");
                });
            });
        });
    </script>
}

@*<td><button class="getPalauteModal" data-palauteid="@item.palaute_id">lue lisää</button></td>*@

<section class="container-fluid bg-black pt-lg-3 pb-5 ">
    <div class="container pt-5">
        <div class="col-12 table-responsive-md">
            <div class="d-flex justify-content-between w-100">
                <h2 class="text-white pb-5" id="TarkastelePalaute">Uusimmat palautteet</h2>
                <div id="Modaltesti" class="text-info"></div>
            </div>
            <table class="table table-dark table-hover caption table-bordered">
                <caption class="text-white-50">Palautteet</caption>
                <thead>
                    <tr>
                        <th scope="col">Päivämäärä</th>
                        <th scope="col">Aihe</th>
                        <th scope="col">Palaute</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Reverse().Take(5))
                    {
                    <tr>
                        <td scope="row">@Html.DisplayFor(modelItem => item.palaute_pvm)</td>
                        <td>@Html.DisplayFor(modelItem => item.palautetyyppi)</td>
                        <td>@Html.DisplayFor(modelItem => item.palaute)</td>
                        <td><button class="getPalauteModal btn btn-primary ms-1" data-palauteid="@item.palaute_id">Lue lisää</button></td>
                    </tr>
                    }
                </tbody>
            </table>
            <!--Sivunumerokomponentti-->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li>
                        @*<a href="~/Views/Palaute/LueKaikki.cshtml" class="btn btn-primary ms-3">Kaikki Palautteet</a>*@
                        @using (Html.BeginForm("LueKaikki", "Palaute", FormMethod.Get))
                        {
                            <button class="btn btn-primary ms-3">Kaikki Palautteet</button>
                        }
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

