@model Ajanvarausprojekti.Models.Palautteet


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @*Otsikko*@
        <h4>Anna palautetta opetuksesta</h4>

        <br>

        <p>Haluatko antaa palautetta opetuksesta tai onko sinulla kehitysehdotuksia, mite voisimme parantaa toimintaamme? Voit antaa palautteen anonyymisti. Jos haluat, että sinuun ollaan yhteydessä, kirjoita palautteen loppuun yhteystietosi.</p>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <br>

        @*Opettaja-kentän otsikko*@
        <div class="form-group">
            @Html.LabelFor(model => model.opettaja_id, "Opettaja, jota palaute koskee: ", htmlAttributes: new { @class = "control-label col-md-2" })

            @*Muokattu Pudotusvalikko, josta valitaan oikea opettaja etunimi+sukunimi*@
            <div class="col-md-10">
                @Html.DropDownList("opettaja_id", (IEnumerable<SelectListItem>)ViewBag.Kokonimi, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.opettaja_id, "", new { @class = "text-danger" })
            </div>

            @*Alkuperäinen Pudotusvalikko, josta valitaan oikea opettaja*@
            @*<div class="col-md-10">
                @Html.DropDownList("opettaja_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.opettaja_id, "", new { @class = "text-danger" })
            </div>*@
        </div>

        <br>

        @*Palautteen aihe-kentän otsikko*@
        <div class="form-group">
            @Html.LabelFor(model => model.palautetyyppi_id, "Palautteen aihe: ", htmlAttributes: new { @class = "control-label col-md-2" })

            @*Pudotusvalikko, josta valitaan palautteen aihe*@
            <div class="col-md-10">
                @Html.DropDownList("palautetyyppi_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.palautetyyppi_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <br>

        @*Palaute-kentän otsikko*@
        <div class="form-group">
            @Html.LabelFor(model => model.palaute, "Palautteeni: ", htmlAttributes: new { @class = "control-label col-md-2" })

            @*Palautteen jättö-kolumni*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.palaute, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.palaute, "", new { @class = "text-danger" })
            </div>
        </div>

        <br>


        @*Lähetä-nappi*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lähetä" class="btn alert-primary" />
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
