@model Ajanvarausprojekti.Models.Palautteet

@{
    ViewBag.Title = "Delete";
}

<section class="container-fluid bg-white mt-3 mt-md-0 pt-lg-3">
    <div class="container pt-lg-5">
        <div class="row gy-5 gy-lg-0 pb-lg-0 d-flex flex-md-column-reverse flex-lg-row">
            <div class="col-12 col-lg-6 pe-lg-5">
                <div class="d-flex flex-column justify-content-start w-100">
                    <p class="fs-6 mb-1 fw-light pb-0">Palautteet | Poista palaute</p>
                    <h2 class="text-black pb-3">Haluatko varmasti poistaa tämän palautteen?</h2>
                </div>

                <div>
                    <dl class="dl-horizontal text-black mb-4 bg-light p-2 p-md-5 rounded-3">
                        <dt> Palaute </dt>
                        <dd> @Html.DisplayFor(model => model.palaute) </dd>

                        <dt> Palaute annettu</dt>
                        <dd> @Html.ValueFor(model => model.palaute_pvm, "{0:dd.MM.yyyy}") </dd>

                        <dt> Opettaja, jota palaute koskee </dt>
                        <dd> @Html.DisplayFor(model => model.Opettajat.etunimi) @Html.DisplayFor(model => model.Opettajat.sukunimi) </dd>

                        <dt> Palautetyyppi (kehittämisidea/muu palaute/kurssipalaute) </dt>
                        <dd>  @Html.DisplayFor(model => model.Palautetyypit.palautetyyppi) </dd>
                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                <div class="form-actions mb-1 mb-md-5 mt-3">
                    <a href="@Url.Action("LueKaikki", "Palaute")" class="btn btn-outline-primary ms-0 text-decoration-none me-1" role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-chevron-left me-1" viewBox="0 0 16 16" aria-hidden="true">
                            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                        </svg>
                        Takaisin
                    </a>
                        <button type="submit" class="btn btn-primary">Poista palaute</button>
                        @*@Html.ActionLink("Takaisin", "LueKaikki", new { @class = "btn btn-outline-primary ms-0 text-decoration-none me-1", role = "button" })*@
                    </div>
                        }
                    </div>
                </div>


                @*Sateenvarjokuva*@
                <div class="col-12 col-lg-6 bg-ohjausajat mb-5">
                    <img src="~/Content/Images/sateenvarjo-logo.png" alt="Nainen sateenvarjon kanssa ja Careerian logo" class="img-fluid rounded-3" />
                </div>
            </div>
        </div>
    </section>
