@model IEnumerable<Ajanvarausprojekti.Models.Palautteet>

@{
    ViewBag.Title = "LueKaikki";
}

<h2>LueKaikki</h2>

@*Modaali Luekaikki*@
<div class="modal fade" id="luekaikkiModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="luekaikkiModal">Kaikki palautteet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <h2>LueKaikki</h2>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.palaute)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.palaute_pvm)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Opettajat.sahkoposti)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Palautetyypit.palautetyyppi)
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.palaute)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.palaute_pvm)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Opettajat.sahkoposti)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Palautetyypit.palautetyyppi)
                            </td>
                            <td>
                                @Html.ActionLink("Poista", "_Delete", new { id = item.palaute_id })
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
