@model IEnumerable<Ajanvarausprojekti.ViewModels.palauteListaData>

@{
    ViewBag.Title = "LueKaikki";
}

@section scripts {
    <script>
        //_Details modaalin kutsu
        $(function () {
            $(".getPalauteID").click(function () {
                let palaute_id = $(this).data("palauteid");
                console.log("Klikkasit palautetta: " + palaute_id);
                var url = "/Palaute/_Details/?id=" + palaute_id;
                console.log(url);

                $("#lueLisaa").append(" <b>Avataan palautteen " + palaute_id + " tietoja...</b>");

                var $detailDivDetails = $("#lueLisaa");
                $.get(url, function (data) {
                    $detailDivDetails.replaceWith(data);
                    $("#ModallueLisaa").modal("show");
                });
            });
        });
    </script>

    @*Palautteen poisto onnistui- modaalin kutsu*@
    @if (TempData["Successi"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#OnnistunutModaali").modal("show"); {
                    setTimeout(function () { $("#OnnistunutModaali").modal("hide"); }, 3000)
                };
            };
        </script>
    }

}


<section class="container mb-5 mt-3">
    <div class="d-flex justify-content-start">
        <h1 class="mt-2 fw-bold">Kaikki palautteet</h1>
        <div id="lueLisaa" class="text-info"></div>
    </div>
    <p class="lead text-white mb-5">Huom! Mikäli oppilas on kirjoittanut palautteen loppuun yhteystietonsa, hän toivoo että häneen ollaan yhteydessä.</p>
    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <caption>Kaikki palautteet</caption>
            <thead class="table-dark bg-black">
                <tr>
                    <th scope="col">Palaute</th>
                    <th scope="col">Päivämäärä</th>
                    <th scope="col">Aihe</th>
                    <td scope="col"></td>
                    <td scope="col"></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Reverse())
                {
                    <tr>
                        <td scope="row" class="td-truncate"> @Html.DisplayFor(modelItem => item.palaute) </td>
                        <td> @Html.ValueFor(model => item.palaute_pvm, "{0:dd.MM.yyyy}")</td>
                        <td> @Html.DisplayFor(modelItem => item.palautetyyppi) </td>
                        <td><button class="getPalauteID btn btn-primary ms-1" role="button" aria-pressed="false" data-palauteid="@item.palaute_id">Lue lisää</button></td>
                        <td><button class="btn btn-primary text-decoration-none" role="button" aria-pressed="false"> @Html.ActionLink("Poista", "Delete", new { id = item.palaute_id })</button></td>
                    </tr>
                }
            </tbody>

        </table>
        <div class="d-flex justify-content-start">
            @using (Html.BeginForm("OpettajienSivu", "Home", FormMethod.Get))
            {
                <button class="btn btn-primary ms-0 text-decoration-none" role="button" aria-pressed="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-chevron-left me-1" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                    </svg>
                    Takaisin
                </button>
            }
        </div>
    </div>
</section>

@*Palautteen poisto onnistui -modaali-ikkuna*@
<div class="container">
    <div class="modal fade" id="OnnistunutModaali" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                @*Modaalin otsikko*@
                <div class="modal-header border-0 d-flex flex-column align-items-center justify-content-center">
                    @*//TempData-viesti 'palautteen poisto onnistui' tulee PalauteControllerilta*@
                    <h1 class="text-center">@TempData["Successi"]</h1>
                </div>
                @*Modaalin bodyosio jossa animaatio*@
                <div class="modal-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="~/Content/Images/success.gif" alt="gif image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>