@model Ajanvarausprojekti.Models.Ajat

@using (Html.BeginForm("_LisaaAika", "Ajat", FormMethod.Post, new { id = "aikaForm" }))
{
    @Html.AntiForgeryToken()

    <section class="container">
        <div class="row flex-column-reverse flex-md-column-reverse flex-lg-row">
            <div class="col-md-6">
                <div >
                    <img src="~/Content/Images/business.png" class="img-fluid" alt="Läppäri, kynä ja vihko" />
                </div>
            </div>

            <div class="col-md-6 col-lg-6 d-flex justify-content-center mt-md-5">
                <div class="form-group">
                    @if (TempData["AikaError"] != null) {
                        <p class="text-danger">@TempData["AikaError"]</p>}
                    @if (TempData["AikaSuccess"] != null) {
                        <p class="text-info">@TempData["AikaSuccess"]</p>}

                    <br />
                    <h2 id="LisaaAika2">Lisää uusi aika varattavaksi</h2>
                    <div class="input-group d-flex flex-column justify-content-center">

                        <div class="mb-4">
                            <label for="startDate">Päivämäärä</label>
                            @Html.TextBoxFor(a => a.startDate, new { @class = "form-control", @id = "startDate", @type = "date" })
                        </div>

                        <div class="mb-4">
                            <label for="startTime">Kellonaika</label>
                            @Html.TextBoxFor(a => a.startTime, new { @class = "form-control", @id = "startTime", @type = "time" })
                        </div>

                        <div class="mb-4">
                            <label for="kesto_id" class="text-black mb-0">Valitse ohjausajan kesto</label>
                            @Html.DropDownListFor(model => model.kesto_id, new List<SelectListItem> {
                            new SelectListItem{Text="30 min", Value="30",Selected =true },
                            new SelectListItem{Text="45 min", Value="45"},
                            new SelectListItem{Text="60 min", Value="60"},
                            new SelectListItem{Text="90 min", Value="90"},}, new { @class = "form-select mb-4", @id = "kesto_id" })
                        </div>
                        <div class="mb-4">
                            <label for="paikka">Teams-linkki (annetaan varaajalle varausvahvistuksessa)</label>
                            @Html.TextBoxFor(a => a.paikka, new { @class = "form-control", @id = "paikka", @type = "text" })
                        </div>

                        <button href="#" class="btn btn-outline-primary w-100" type="submit">Tallenna aika</button>

                    </div>
                </div>
            </div>
        </div>
    </section>
}