@model Ajanvarausprojekti.Models.Ajat

<div class="modal fade" id="ModalEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col mt-1 ms-2 me-0 pe-0 pb-5">
                        <div class="d-flex justify-content-end align-items-end">
                            <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-header border-0 d-flex flex-column justify-content-center align-items-center text-center">
                            <h5 class="modal-title"><img src="~/Content/Images/careerian-tiviohjaus-logo.png" class="d-flex justify-content-center align-items-center w-75 h-auto" alt="Careerian Tivi-ohjaus Logo" aria-label="Careerian Tivi-Ohjaus"><span class="fw-light pt-3 fs-6 text-uppercase">Opettajille</span></h5>
                        </div>

                        <div class="modal-body mt-3">
                            <form action="/Ajat/_ModalEdit" id="ModalEdit" method="post">
                                @using (Html.BeginForm("_ModalEdit", "Ajat", FormMethod.Post, new { id = "editForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <h4>Muokkaa aikaa</h4>
                                    <div class="form-group">
                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.aika_id)

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.alku_aika, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.alku_aika, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.alku_aika, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.kesto_id, "kesto_id", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.DropDownList("kesto_id", null, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.kesto_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.opettaja_id, "opettaja_id", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.DropDownList("opettaja_id", null, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.opettaja_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.aihe, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.aihe, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.aihe, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.paikka, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.paikka, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.paikka, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Save" class="btn btn-default" />
                                            </div>
                                        </div>
                                    </div>
                                }
                                <!-- Jos tätä käytetään niin tulee viiva ja button siirtyy oik. puolella. Modal footer -->
                                <div class="modal-footer">
                                    @*Formin lähettävä button*@
                                    <button type="submit" class="btn btn-primary" form="editForm">valmis</button>
                                    @*Kontrollerin kutsu, jotta peruutus johtaa alkutilanteeseen*@
                                    <a href="@Url.Action("Index", "Ajat")" class="btn btn-primary">peruuta</a>
                                </div>
                                </form>
                        </div>
                    </div>
                    <div class="col-5 d-none d-sm-block pe-0">
                        <img src="~/Content/Images/tools.png" class="img-fluid h-100 w-auto" alt="Alternate Text" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@*scripti siirretään opettajiensivulle kun valmis*@
@section scripts {
    @*<script type="text/javascript">
        $(function () {
            $(".getModalEdit").click(function () {
                let ajat_id = $(this).data("ajatid");
                console.log("Klikkasit aikaa: " + ajat_id);
                var url = "/Ajat/_ModalEdit/?id=" + ajat_id;
                console.log(url);

                $("#ajatEdit").append(" <b>Avataan tilauksen " + ajat_id + " muokkausikkuna...</b>");
/*                tälle pitää muistaa laittaa divi*/
                var $detailDivEdit = $("#ajatEdit");
                $.get(url, function (data) {
                    $detailDivEdit.replaceWith(data);
                    $('#ModalEdit').modal('show');
                });
            });
        });
    </script>*@
}