@model IEnumerable<Ajanvarausprojekti.ViewModels.ajatListaData>

@*@section Scripts {
        <script type="text/javascript">
            $(function () {
                $(".valitseAika").click(function () {
                    let aika_id = $(this).data("aikaId");
                    alert("Klikkasit aikaa, jonka aika-id on " + aika_id);
                });
            });
        </script>
    }*@


<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Opettajan nimi</th>
            <th>Päivämäärä</th>
            <th>Kellonaika</th>
            <th>Ajan id-numero (käytössä vain testailuvaiheessa)</th>
            <th>Tapaamisen kesto</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {

        <tr class="valitseRivi" data-aikaId="@item.aika_id">
            <td>@Html.DisplayFor(modelItem => item.Etunimi) @Html.DisplayFor(modelItem => item.Sukunimi)</td>
            <td>@Html.DisplayFor(modelItem => item.Alkuaika)</td>
            <td>@Html.DisplayFor(modelItem => item.Alkuaika)</td>
            <td>@Html.DisplayFor(modelItem => item.aika_id)</td>
            <td>@Html.DisplayFor(modelItem => item.Kesto) minuuttia</td>
            <td><a href="#" class="btn btn-primary">Valitse aika</a></td>
        </tr>
    }

</table>


