@model Ajanvarausprojekti.ViewModels.UusiOpe

@{
    ViewBag.Title = "Kuvalisays";
}

<h2>Kuvalisays</h2>


@using (Html.BeginForm("Kuvalisays", "SuperUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>UusiOpe</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />
        @*<input type="submit" value="Upload" />*@
        @ViewBag.Message
    </div>
   

    <div class="form-group">
        @Html.LabelFor(model => model.etunimi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.etunimi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.etunimi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sukunimi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sukunimi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sukunimi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nimike, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nimike, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nimike, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sahkoposti, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sahkoposti, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sahkoposti, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
        @Html.LabelFor(model => model.kayttajatunnus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.kayttajatunnus, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.kayttajatunnus, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.salasana, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.salasana, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.salasana, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.oikeudet_id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.oikeudet_id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.oikeudet_id, "", new { @class = "text-danger" })
        </div>
    </div>*@

   

    @*<div class="form-group">
        @Html.LabelFor(model => model.Tiedosto, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Tiedosto, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tiedosto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Koko, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Koko, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Koko, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Tyyppi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Tyyppi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tyyppi, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
